* {
    margin: 0;
    padding: 0;
}

#todo {
    width: 300px;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    overflow-wrap: break-word;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #7eaed3;
}

#todo-item {
    list-style-type: none;
    word-break: break-all;
    width: 60%;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#trashcan {
    width: 20px;
}

#remove {
    width: 20%;
    margin: 0 10px;
    padding: 0;
    background-color: none;
    border: none;
}

.finished {
    text-decoration: line-through;
}

p:hover {
    cursor: pointer;
}