* {
    margin: 0;
    padding: 0;
}

#todo {
    width: 300px;
    height: 70px;
    background-color: white;
    margin: 10px auto;
    display: flex;
    align-items: center;
    color: #007FFF;
    justify-content: center;
    font-weight: 900;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

#todo-item {
    list-style-type: none;
    word-break: break-all;
    width: 60%;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#trashcan {
    width: 20px;
}

#remove {
    /* width: 20%; */
    margin: 0 10px;
    padding: 0;
    height: 0;
    border: none;
}

#remove:hover {
    cursor: pointer;
}

.finished {
    text-decoration: line-through;
    color: lightgrey;
}

#finished {
    width: 1.3em;
    height: 1.3em;
    margin-top: 2px;
    outline: none;
    border: none;
}

#finished:after {
    background-color: grey;
}

p:hover {
    cursor: pointer;
}