#Todo-Container {
    width: 300px;
    height: 100px;
    margin: 10px auto 10px auto;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

#todo-input {
    margin-right: 3px;
    border-radius: 6px;
    padding:  2px 12px;
    margin-top: 20px;
    width: 68%;
    border: none;
}

#todo-flex {
    display: flex;
    justify-content: space-between;
}

#submit {
    width: 20%;
    height: 30px;
    margin-top: 20px;
    background-color: #001440;
    color: white;
    border: none;
    border-radius: 4px;
}

#submit:hover {
    cursor: pointer;
}